#wrapper {
	margin-left: 40px;
	padding:50px;
	width: 900px;
	text-align: left;
	font-family: Geneva, Verdana, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}
h1 {
	text-align: left;
	margin-left: 25px;
}
#a_id {
	font-size: 20px;
}
.label {
	display: inline-block;
}

#notes {
	font-weight: bold;
	font-size: 16px;
}
select {
	text-align: center;
	height: 25.98px;
	width: 162px;
	font-size: 18px;
	margin-right: 10px;
}
#add_book{
	font-size: 16px;
	height: 25.98px;
	box-shadow: 2px 2px;
}

#button {
	display: inline-block;
	vertical-align: top;
}

