<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Books & Authors</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/bookliststyle.css' %}"> 
</head>
<body>
	<div id="wrapper">
		<div class="author_and_list">
			<h2>Add Authors</h2>

			<form action="/new_author" method="POST">
				{% csrf_token %}
				<p><label type="text" name="first_name">First Name</label>
				<input type="text" name="first_name" id="name_field"></p>
				<p><label type="text" name="last_name">Last Name</label>
				<input type="text" name="last_name" id="name_field"></p>
				<p><label for="notes">Notes:</label>
				<textarea name="notes" class="text_box" rows="4" cols="40"></textarea></p>
				<p><input id="button" class="button" type="submit" name="add_author" value="Add"></p>
			</form>
		</div>		
		<div id="author_list" class="author_and_list">
		<form action="/authors" method="POST">
				{% csrf_token %}
			<table id="authors">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
				{% for author in all_authors %}	
					<tr>
						<td>{{author.id}}</td>
						<td>{{author.first_name}} {{author.last_name}}</td>
						<td>
							 <a href="{% url 'author_info' author_id=author.id %}"> view</a>
						</td>
					</tr>
				{% endfor %}		
				</tbody>
			</table>
			</form>
		</div>
	</div>
</body>
</html>